{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/unsplash1.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>Portfolio</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Jamie Lee
          </div>
          <div class="col-sm-4 text-pad">
            me@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            Texas
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about</p>
        <p>creating stuff that is potentially interesting to you.</p>
        <p>Intrigued by art, music, coding, photography, and always learning more.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Art for Others Club
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>In the club, we create art to donate to those in need of positivity</p>
              <p>We collaborated to make and send cards to....</p>
              <ul>
                <li class="main-li">The seniors and children of Haiti during the holidays</li>
                <li class="main-li">The healthcare workers on the frontlines during the covid pandemic</li>
                <li class="main-li">The workers and people in the senior community centers</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Activist Website
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2021
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Created a website on gender discrimination pertaining to women in the workplace</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">I first created a home page introducing the issue</li>
                <li class="sub-li">Then I created a second page on examples of the issue within our society</li>
                <li class="sub-li">Finally, I made a page that would give facts on workplace gender discrimniation on the click of a button </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Personality Quiz
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2021
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I made a quiz that would assign a person a ghibli movie based on their personality</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I planned this out</li>
                <li class="sub-li">I first thought of an algorithm that would give a person a certain character based on the choices they make</li>
                <li class="sub-li">Then I coded this into various different buttons that would contain the results in a score </li>
                <li class="sub-li">Finally, I set it so that a certain score would result in a certain movie </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Gold President's Volunteer Service Award
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              The National Association for Korean Schools
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Certification
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Provided by AmeriCorps in recognition and appreciation fro their commitment to strengthen our nation and communities through volunteer service
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Honor
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Completed a hundred hours of volunteer service for korean language school
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/gojo.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Digital Art</h3>
            <p class="content-text">Sticker for Gojo Satoru from Jujutsu no Kaisen</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/sunset.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Sunset</h3>
            <p class="content-text">One of the pictures I took</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/photos.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Photos</h3>
            <p class="content-text">Taking photos is a hobby I enjoy in my free time</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">me@gmail.com</span>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@me</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/me</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
